{% extends "annex/context.html" %}
{% load static %}
{% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								О нас
							</h1>
							<p class="text-white link-nav"><a href="/">Главная </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> О нас</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start feature Area -->
			<section class="feature-area pb-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Учащемуся</h4>
									<h5> </h5>
								</div>
								<div class="desc-wrap">
									<p>
										Информация для учащихся.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Школа №38</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Лучшая школа города.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Огромая библитека</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Если вам интересны книги, то эта страница для вас.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End feature Area -->

			<!-- Start info Area -->
			<section class="info-area pb-120">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 no-padding info-area-left">
							<img class="img-fluid" src="{% static '/annex/img/school1.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 info-area-right">
							<h1>ИСТОРИЯ ШКОЛЫ</h1>
							<p>
         Муниципальное общеобразовательное учреждение «Средняя общеобразовательная школа с углубленным изучением татарского языка и литературы №38» образовано как муниципальное общеобразовательное учреждение «Национальная школа продленного дня с изучением татарского языка» при мечети «Хусаиния» в 1991 году. В классе было 18 учеников: 14 мальчиков и 4 девочки.
		 Первая учительница и первый директор – Абдулвалеева Луиза Губайдулловна.
          С 1 сентября 1992 года ученики школы №38 занимались в здании школы №22: в том году было открыто три первых класса. С 1993 года занятия проходили в здании школы №20 на 3 этаже. Первые педагоги, принятые в школу, успешно работают в учреждении по сей день. За период с 1992 по 1999 г.г. учреждение претерпело несколько реорганизаций: из начальной в основную, из основной в среднюю. В 1999 году школа была переименована в МОУ «Средняя общеобразовательная школа с углубленным изучением отдельных предметов №38».
		  В декабре 2005 года название школы видоизменилось: МОУ «Средняя общеобразовательная школа с углубленным изучением татарского языка и литературы №38». Учреждение реализует типовые общеобразовательные программы, направленные на реализацию начального, основного и среднего (полного) общего образования, рекомендованные Министерством образования РФ. Углубленное изучение татарского языка и литературы осуществляется по программам, утвержденным МО Республики Татарстан. Данные общеобразовательные программы являются программами углубленного изучения татарского языка и литературы для русскоязычных школ, что подтверждается письмом заместителя министра образования Республики Татарстан от 12.05.2004 г. №11.12.
		  Анализ учебного плана учреждения показывает, что соотношение между инвариантной и вариативной частью учебного плана не превышает контрольных цифр и составляет в начальной школе 9% (вариативная часть), в основной школе 11%, в средней школе 16,5 % от общего количества часов, предусмотренных базисным учебным планом.
           Движение многонационального общества к качественно новому состоянию, в основе которого находятся общечеловеческие начала жизни - гуманизм и сотрудничество, защита прав человека, требует новых подходов в решении проблем воспитания детей. Это актуально для муниципального общеобразовательного учреждения «Средняя общеобразовательная школа с углублённым изучением татарского языка и литературы №38» г. Оренбурга. Необходимость воспитания гуманной личности в сфере межнационального общения связана с многонациональным характером ученического и трудового коллективов (в школе учатся и работают люди татарской, русской, башкирской, армянской и других национальностей), с одной стороны, и влиянием этнонациональных факторов - с другой.</p>
							<br>

						</div>
					</div>
				</div>
			</section>
			<!-- End info Area -->

			<!-- Start course-mission Area -->
			<section class="course-mission-area pb-120">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">О школе</h1>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-6 accordion-left">

                            <!-- accordion 2 start-->
                            <dl class="accordion">
                                <dt>
                                    <a href="">Директор</a>
                                </dt>
                                <dd>
                                    Ищенко Венера Анатольевна
                                </dd>
                                <dt>
                                    <a href="">Юридический адрес</a>
                                </dt>
                                <dd>
                                    460026, г. Оренбург, ул. Совхозная д.31
                                </dd>
                                <dt>
                                    <a href="">Телефон</a>
                                </dt>
                                <dd>
                                    (3532) 70-65-49
                                </dd>
                                <dt>
                                    <a href="">График работы администрации</a>
                                </dt>
                                <dd>
                                    пн-пт: 9:00 - 19:00
									сб: 9:00 - 14:00
                                </dd>
                            </dl>
                            <!-- accordion 2 end-->
                        </div>
                        <div class="thumb relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="{% static '/annex/img/direktor.jpg' %}" alt="">
									</div>
                    </div>
				</div>
			</section>
			<!-- End course-mission Area -->
{% endblock %}
