{% extends "annex/context.html" %}
{% load static %}
{% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Мероприятия
							</h1>
							<p class="text-white link-nav"><a href="/">Главная </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/events/"> Мероприятия</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start events-list Area -->
			<section class="events-list-area section-gap event-page-lists">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static '/annex/img/p1.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>25 Февраля, 2018</p>
									<a href="event-details.html"><h4>Обучение дизайну.</h4></a>
									<p>
										Уроки дизайна от лучшего профессионала нашей планеты.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static '/annex/img/math.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>25 Марта, 2018</p>
									<a href="event-details.html"><h4>Олимпиада по математике.</h4></a>
									<p>
										25.05.2018 года, проводится олимпиада по математике.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static '/annex/img/photograph.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>25t Апреля, 2018</p>
									<a href="event-details.html"><h4>Курсы фотографа.</h4></a>
									<p>
										Обучаем искусству фотографии.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static '/annex/img/Schollbascket.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>25 Мая, 2018</p>
									<a href="event-details.html"><h4>Соревнования бо баскетболу</h4></a>
									<p>
										Ждём всех! Поддержим нашу команду!
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static '/annex/img/sobranie.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>25 Июня, 2018</p>
									<a href="event-details.html"><h4>TРодительское собрание</h4></a>
									<p>
										Родительское собрание для начальных классов.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6" pb-30>
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static '/annex/img/schoollvoleyball.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<p>25 Июля, 2018</p>
									<a href="event-details.html"><h4>Соревнование по волейболу</h4></a>
									<p>
										Ждём всех! Поддержим нашу команду!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End events-list Area -->



{% endblock %}
