{% if user.username %}
  <script>var compulsion = 0;</script>
{% else %}
<script>var compulsion = 1;</script>
{% endif %}
<script>
  if (compulsion == 1) {
    document.location.href = 'http://127.0.0.1:8000/admin/';
  }
</script>
<div class="responsive-header visible-xs visible-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-section">
          <div class="profile-image">
            <img src="{{user.profile.avatar.url}}" alt="{{user.username}}">
          </div>
          <div class="profile-content">
            <h3 class="profile-title">{{user.username}}</h3>
            <p class="profile-description">{{user.email}}</p>
            <a href="/logout">Выйти</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
    <div class="main-navigation responsive-menu">
      <li><a target="_blank" href="http://127.0.0.1:8000/admin/"><i class="fa fa-home"></i>Войти в админ панель</a></li>
      <ul class="navigation">
      </ul>
    </div>
  </div>
</div>

<!-- SIDEBAR -->
<div class="sidebar-menu hidden-xs hidden-sm">
  <div id="button_slide_menu"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
  <div class="top-section">
    <div class="profile-image">
      <img src="{{user.profile.avatar.url}}" alt="{{user.username}}">
    </div>
    <h3 class="profile-title">{{user.username}}</h3>
    <p class="profile-description">{{user.email}}</p>
    <a href="/logout">Выйти</a>
  </div>
  <!-- top-section -->
  <div class="main-navigation">
    <li><a target="_blank" href="http://127.0.0.1:8000/admin/"><i class="fa fa-globe"></i>Админ-панель</a></li>
    <ul class="navigation">
    </ul>
  </div>
  <!-- .main-navigation
  <div class="social-icons">
    <ul>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
   .social-icons -->
</div>
