{% extends "annex/context.html" %}
{% load static %}
{% block content %}

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
          <div class="banner-content col-lg-9 col-md-12">
            <h1 class="text-uppercase">
              Мы стремимся к лучшему обучению,
                Ради лучшего мира
            </h1>
            <p class="pt-10 pb-10">
              Адрес: г. Оренбург ул. Совхозная, 31
            </p>

          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start cta-two Area -->
    <section class="cta-two-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 cta-left">
            <div class="form-wrap" action="#">
              <h4 class="text-white pb-20 text-center mb-30">Войти</h4>
              <input type="phone" class="form-control" name="phone" placeholder="Номер" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
              <br/>
              <input type="email" class="form-control" name="email" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Password Address">
              <br/>
              <a href="contact.html"><button class="primary-btn text-uppercase">Войти</button></a>

            </form>
            <h1></h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End cta-two Area -->

{% endblock %}
