{% block content %}
   {% load static %}
   <script src="{% static '/pages/js/jquery.maskedinput.min.js' %}" type="text/javascript"></script>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="TVlocation">Подобрать туры</div>
    {{ form.star }}
    <div class="TVMainFilterButton TVCountry">
       <div class="TVMainFilterLable"></div>
   	   {{ form.country.errors }}
   	   {{ form.country }}
    </div>
    <div class="TVMainFilterButton TVDates">
       <div class="TVMainFilterLable"></div>
   	   {{ form.date_date.errors }}
   	   {{ form.date_date }}
    </div>
    <div class="TVMainFilterButton TVNights">
       <div class="TVMainFilterLable"></div>
   	   {{ form.night.errors }}
   	   {{ form.night }}
    </div>
    <div class="TVMainFilterButton TVTourists TVTprob">
   	   {{ form.phone.errors }}
   	   {{ form.phone }}
    </div>
    <button id="but-func-input" type="submit" class="TVSearchButton"></button>
    <script src="{% static '/pages/js/form.js' %}"></script>
    <script>$(".telephonetext").mask("8(999) 999-9999");</script>
{% endblock %}
