{% block content %}
    {% csrf_token %}
    {{ form.non_field_errors }}
	  {{ form.subject.errors }}
	  {{ form.subject }}
	  {{ form.sender.errors }}
	  {{ form.sender }}
	  {{ form.phone.errors }}
	  {{ form.phone }}
	  {{ form.message.errors }}
	  {{ form.message }}


	  {{ form.from_send.errors }}
	  {{ form.from_send }}
	  {{ form.to_send.errors }}
	  {{ form.to_send }}
	  {{ form.date_start.errors }}
	  {{ form.date_start }}
	  {{ form.date_finish.errors }}
	  {{ form.date_finish }}
	  {{ form.night.errors }}
	  {{ form.night }}
	  {{ form.adults.errors }}
	  {{ form.adults }}
	  {{ form.child.errors }}
	  {{ form.child }}
{% endblock %}
