{% load static %}
{% block contactform %}
<style>
body {
background: url({% static '/pages/img/middle.jpg' %}) no-repeat center top;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto Condensed", Arial, sans-serif;
}
#thanks {
  margin-top: 200px;
  height: 100%;
  width:100%;
  text-align:center;
}
#thanks p {
  color: #001f63;
  font-size:24px;
  margin-top: 25px;
}
#thanks h1 {
  font-size: 32px;
  color: #fff;
  text-transform:uppercase;
}
#thanks a {
transition: all 0.5s ease-out;
  background: #c60000;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 7px 20px;
  text-decoration: none;
}
#thanks a:hover {
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: rgb(242, 57, 57);
}
#thanks a:active {
  transition: all 0.1s ease-out;
  background: #ff0000;
}
</style>
<div id="thanks">
    <h1><b>Спасибо, Ваша заявка принята!</b></h1>
    <p>Наш менеджер свяжется с Вами в течение 1 часа</p>
    <p>Если ваша заявка поступила после 18:00, мы обязательно свяжемся с Вами<br/> на следующий день после 10:00</p>
    <a href="/"><b>Вернуться на сайт</b></a>
</div>
{% endblock %}
