{% extends "annex/wrapper.html" %}
{% load static %}
{% block content %}
{% include "annex/includes/post-menu.html" %}
<div style="background: url({{company.background.url}});" class="banner-bg" id="top">
  <div class="banner-overlay"></div>
    <a class="arrow-back" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <div class="welcome-text">
    <h2>{{company.name}}</h2>
    <h5>{{company.adress}}</h5>
    <h5>тел.: {{company.phone}}</h5>
  </div>
</div>
<div id="button_down_menu"><i class="fa fa-caret-right" aria-hidden="true"></i></div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="fluid-container">

    <div id="shipment" class="content-wrapper">
      <a id="account" href="#">Предварительный расчет на строительство <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <div class="page-section">
        <table id="example1" class="example228">
          <thead>
            <tr>
              <th>Дата <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Наименование <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Ссылка</th>
            </tr>
          </thead>
          <tbody>
            {% for items in object.specification_set.all %}
            <tr>
              <td>{{items.date_push}}</td>
              <td>{{items.name}} ({{items.etash}} этаж)</td>
              <td><a href="materials/{{items.id}}/">Загрузить спецификацию</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div id="calculation" class="content-wrapper">
      <a id="tracking" href="#">Отслеживание материала для отгрузки на объект <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      <!-- ABOUT -->
      <div class="page-section" id="about">
        <div class="row">
          <div id="HTMLtoPDF" class="col-md-12">
            <h4 class="widget-title">Предварительный расчет на строительство</h4>
            <div class="row">
              <div class="name-title col-md-6">
                <b>{{company.full_name}}</b>
                <p>{{company.adress}}</p>
                <p>{{company.phone}}</p>
                <p>{{company.email}}</p>
              </div>
              <div class="client col-md-6">
                <b>Данные клиента:</b>
                <input type="text" placeholder="ФИО клиента..." name="name">
                <input class="telephonetext" type="text" placeholder="Телефон..." name="phone">
                <input type="email" placeholder="E-mail..." name="email">
              </div>
              <div class="initial_data col-md-12">
                <p>ИСХОДНЫЕ ДАННЫЕ</p>
                <fieldset>
                  <div class="col-md-4">
                    <label>Общая площадь, м2:</label>
                    <input type="text" placeholder="61...">
                  </div>
                  <div class="col-md-4">
                    <label>Периметр, п/м:</label>
                    <input type="text" placeholder="134...">
                  </div>
                  <div class="col-md-4">
                    <label>Этажность:</label>
                    <input type="text" placeholder="3...">
                  </div>
                </fieldset>
              </div>
              <div class="table col-md-12">
                <table id="example" class="example228">
                  <thead>
                    <tr>
                      <th>Наименование <i class="fa fa-sort" aria-hidden="true"></i></th>
                      <th>Состав работ и затрат <i class="fa fa-sort" aria-hidden="true"></i></th>
                      <th>Ед. изм <i class="fa fa-sort" aria-hidden="true"></i></th>
                      <th>Цена за ед <i class="fa fa-sort" aria-hidden="true"></i></th>
                      <th>Кол-во</th>
                      <th>Сумма <i class="fa fa-sort" aria-hidden="true"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% include "annex/includes/work.html" %}
                  </tbody>
                  <tfoot>
                    <tr class="totals">
                      <td colspan="4">ИТОГО</td>
                      <td id="total-1" colspan="2"></td>
                    </tr>
                    <tr class="totals">
                      <td colspan="4">Временные здания и сооружения (или предоставляет заказчик)</td>
                      <td id="total-2" colspan="2"><input pattern="^[ 0-9]+$" type="text" value="0"></td>
                    </tr>
                    <tr class="totals">
                      <td colspan="4">Непредвиденные затраты 2% (оговариваются при заключении договора)</td>
                      <td id="total-3" colspan="2"><input pattern="^[ 0-9]+$" type="text" value="0"></td>
                    </tr>
                    <tr class="totals">
                      <td colspan="4">ИТОГО</td>
                      <td id="total-4" colspan="2"></td>
                    </tr>
                    <tr>
                      <td colspan="6">* Не является офертой. Расчет стоимости приблизительный. Итоговая стоимость объекта формируется путем составления сметного расчета по согласованным и утвержденным рабочим чертежам.</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <a id="calculate" class="button right"><i class="fa fa-calculator" aria-hidden="true"></i> Рассчитать</a>
            <a id="btn_download_jpg" class="button left" href="#"><i class="fa fa-download" aria-hidden="true"></i> Скачать .jpg</a>
            <a id="btn-Convert-Html2Image" class="button left"><i class="fa fa-file-image-o" aria-hidden="true"></i> screenshot</a>
            <a id="goto_print" class="button left"><i class="fa fa-print" aria-hidden="true"></i> распечатать</a>
          </div>
        </div>
        <hr>
        <!-- #about -->
      </div>

      <!-- CONTACT -->
      <div class="page-section" id="contact">
        <div class="row">
          <div class="col-md-12">
            <h4 class="widget-title">Отправить предварительный расчет</h4>
          </div>
        </div>
        <div class="row">
          <form action="/contact/" method="post" class="contact-form">
            <div id="form-1"></div>
          </form>
        </div>
        <!-- .contact-form -->
      </div>
      <hr>
    </div>

  </div>
</div>
{% endblock %}
