{% extends "annex/wrapper.html" %}
{% load static %}
{% block content %}
<style>
.page-section table thead tr th:hover {
  cursor: default !important;
}
</style>
{% include "annex/includes/post-menu.html" %}
<div style="background: url({{specification.associate.background.url}});" class="banner-bg" id="top">
  <div class="banner-overlay"></div>
    <a class="arrow-back" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <div class="welcome-text">
    <h2>{{specification.associate.name}}</h2>
    <h5>{{specification.associate.adress}}</h5>
  </div>
</div>
<div id="button_down_menu"><i class="fa fa-caret-right" aria-hidden="true"></i></div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="fluid-container">

    <div class="content-wrapper">
      <div id="HTMLtoPDF" class="page-section">
        <h4 class="widget-title">{{specification.name}} ({{specification.etash}} этаж)</h4>
        <table id="example" class="one_specific_table">
          <thead>
            <tr>
              <th>№ п/п</th>
              <th>Маркировка изделия</th>
              <th>Кол-во</th>
              <th>Ширина</th>
              <th>Высота</th>
              <th>Толщ.</th>
              <th>Объем изделия, м3</th>
              <th>Площадь штукатурки, м2</th>
            </tr>
          </thead>
          <tbody>
            {% include "annex/includes/mat_specific.html" %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Всего:</td>
              <td>0</td>
              <td colspan="3"></td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr style="margin-bottom:15px;">
          <a id="btn_download_jpg" class="button left" href="#"><i class="fa fa-download" aria-hidden="true"></i> Скачать .jpg</a>
          <a id="btn-Convert-Html2Image" class="button left"><i class="fa fa-file-image-o" aria-hidden="true"></i> screenshot</a>
          <a id="goto_print" class="button left"><i class="fa fa-print" aria-hidden="true"></i> распечатать</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
