<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Timfort - Предварительный расчет на строительство</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static '/annex/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static '/annex/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static '/annex/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/annex/css/templatemo-style.css' %}">
  <link rel="stylesheet" href="{% static '/annex/fonts/ru/roboto.css' %}">
  <script src="{% static '/annex/js/vendor/modernizr-2.6.2.min.js' %}"></script>
</head>

<body id="body">
  <!-- .sidebar-menu -->
  {% block content %}
  {% endblock %}
  <div class="row" id="footer">
    <div class="col-md-12 text-center">
      <p class="copyright-text">Copyright &copy; 2018 Timfort</p>
    </div>
  </div>

  <input id="company" type="hidden" value="{{user.profile.associate}}">
  <input id="factory" type="hidden" value="{{user.profile.factory_associate}}">

  <script src="{% static '/annex/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static '/annex/js/min/plugins.min.js' %}"></script>
  <script src="{% static '/annex/js/min/main.min.js' %}"></script>
  <script src="{% static '/annex/js/html2canvas.js' %}"></script>
  <script src="{% static '/annex/js/jquery.maskedinput.min.js' %}"></script>
  <!-- Сортировка -->
  <script src="{% static '/annex/js/sorting/jquery.dataTables.min.js' %}"></script>
  <script src="{% static '/annex/js/sorting/jszip.min.js' %}"></script>
  <!-- script -->
  <script src="{% static '/annex/js/script.js' %}"></script>

  <script type="text/javascript">
    company = $('#company').val();
    active_company = $('.only-company .welcome-text h2').text();
    $('.only-company .welcome-text h2').each(function(){
      if (company == $(this).text()) {
       $(this).parents('.only-company').addClass('display-active');
     } else {
       $(this).parents('.only-company').detach();
     }
    });

    factory = $('#factory').val();
    active_factory = $('.only-factory .welcome-text h2').text();
    $('.only-factory .welcome-text h2').each(function(){
      if (factory == $(this).text()) {
       $(this).parents('.only-factory').addClass('display-active');
     } else {
       $(this).parents('.only-factory').detach();
     }
    });
  </script>
</body>

</html>
